/* === COLOR VARIABLES === */
:root {
  --primary: #008080;   
  --secondary: #ffffff; 
  --accent: #003366;    
  --background: #f5f7fa;
  --highlight: #2ecc71; 
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: var(--accent);
}



